.card{
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#opciones{
    height: 80px;
}

#cardProductos{
    background: #F0FFFF;
}

#cardOfertas{
    background: #F5F5DC;
}

#cardVendedores{
    background: #FFE4B5;
}

#cardContacto{
    background: #D8BFD8;
}

#Header{
    border-radius: 10px;
    text-align: center;
    background: #E0FFFF;
}

p{
    color: #2F4F4F;
}