#header{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#infoHeader{
    width: 1300px;
    text-align: center;
    background-color: #E0FFFF;
}

#icono{
    background-color: azure;
    width: 100px;
    height: 100px;
    justify-content: center;
}

#icono img{
    width: 80px;          /* Ajusta el ancho del ícono */
    height: 80px;         /* Ajusta el alto del ícono */
    box-shadow: none;
}

body {
    display: flex;
    flex-direction: column; /* Los elementos se apilan hacia abajo */
    min-height: 100vh;      /* El cuerpo usa el 100% de la altura de la pantalla */
    margin: 0;
}

main {
    display: flex;          /* para que funcione el gap! */
    flex-direction: column; /* Alinea las cards de arriba a abajo */
    align-items: center;    /* Reemplaza 'align-self' para centrar las cards horizontalmente */
    gap: 20px;              /* Separación  entre cada card  */
}
.card{
    width: 1200px;
    height: 250px;
    display: flex;
    flex-direction: row;
    gap: 50px; /* Espacio de 20px entre las cajas */
    padding: 10px;
    box-shadow: 10px 10px 20px rgb(20, 20, 20);
    background-color: aliceblue;
    border-radius: 10px;
}

img{
    box-shadow: 10px 10px 20px rgb(20, 20, 20);
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

figure {
    text-align: left;
    width: 200px;
    display: inline-block;
}

.etiqueta{
    font-size: 50px;
    text-align: left;
}

.dato{
    font-size: 30px;
    text-align: left;
    color: #00008B;
}

.boton{
    align-self: center;
}

Button{
    background-color: #8FBC8F;
    font-size: xx-large;
    width: 140px;
    height: 70px;
    border-radius: 15px;
}

.divNombre{
    width: 450px;
}

.divPrecio{
    width: 190px;
}



/* para celular */
@media (max-width: 600px) {
    #infoHeader, .card {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    /* la info de los cards en columnas */
    .card {
        flex-direction: column;
        height: auto; /* altura = auto */
        gap: 20px;
        align-items: center;
    }

    /* ajuste de los textos a tamano pequeno*/
    .etiqueta {
        font-size: 28px;
        text-align: center;
    }
    .dato {
        font-size: 20px;
        text-align: center;
    }
    .divNombre, .divPrecio {
        width: 100%;
        text-align: center;
    }
    
    /* Las posiciones fijas del original para que el celular liste todo hacia abajo */
    #header, .menu, .content, .facts, .footer {
        grid-area: initial; /* Resetea el comportamiento de rejilla superior */
        width: 100%;
    }
}